/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.suggestion-content {
	display: flex;
	flex-direction: column;
	gap: 0.15rem;
}

.suggestion-block-link {
	text-decoration: underline;
	text-decoration-color: var(--text-faint);
	text-underline-offset: 0.2rem;
}

.suggestion-block-file {
	color: var(--text-muted);
}
